include *.txt
include LICENSE
recursive-include sphinx_rtd_theme_guidelines *.conf
recursive-include sphinx_rtd_theme_guidelines *.css
recursive-include sphinx_rtd_theme_guidelines *.eot
recursive-include sphinx_rtd_theme_guidelines *.html
recursive-include sphinx_rtd_theme_guidelines *.js
recursive-include sphinx_rtd_theme_guidelines *.svg
recursive-include sphinx_rtd_theme_guidelines *.ttf
recursive-include sphinx_rtd_theme_guidelines *.woff
